.icon {
    display: inline-block;
    background:url(../assets/sprites.png);
}
.icon-24x24 {
    width: 24px;
    height: 24px;
}
.icon-48x48 {
    width: 48px;
    height: 48px;
}
.icon-60x60 {
    width: 60px;
    height: 60px;
}
.facebook24x24{ background-position: 0 0;  }
.facebook48x48{ background-position: 0 -34px;  }
.facebook60x60{ background-position: 0 -92px;  }
.github24x24{ background-position: 0 -162px;  }
.github48x48{ background-position: 0 -196px;  }
.github60x60{ background-position: 0 -254px;  }
.googleplus24x24{ background-position: 0 -324px;  }
.googleplus48x48{ background-position: 0 -358px;  }
.googleplus60x60{ background-position: 0 -416px;  }
.joomla24x24{ background-position: 0 -490px;  }
.joomla48x48{ background-position: 0 -524px;  }
.joomla60x60{ background-position: 0 -582px;  }
.linkedin24x24{ background-position: 0 -652px;  }
.linkedin48x48{ background-position: 0 -686px;  }
.linkedin60x60{ background-position: 0 -744px;  }
.twitter24x24{ background-position: 0 -814px;  }
.twitter48x48{ background-position: 0 -848px;  }
.twitter60x60{ background-position: 0 -906px;  }
.youtube24x24{ background-position: 0 -976px;  }
.youtube48x48{ background-position: 0 -1010px;  }
.youtube60x60{ background-position: 0 -1068px;  }

